html{height: 100%;}

body
{ 
  font-family: "lucida sans", arial, sans-serif;
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 0.8em;
  background: #090708;
  color: #5D5D5D;
  height: 100%;
}

.error{
  border-color: red;
}
fieldset{
  margin-bottom: 15px;
}
fieldset legend{
    font: normal 150% 'century gothic', arial, sans-serif;
    color: #43423F;

}

.checkboxs div label{
  padding-left: 20px;
}



#photobox {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5000;
  width: 100%;
  height: 100%;
  top:0px;
}

#photobox .photcont{

  position:absolute;
  top:0;
  bottom:0;
  left: 0;  
  right: 0;
  margin:auto;
  height: auto;
  width: 100%;
}

#photobox .box_photo { 

position:absolute;
  top:0;
  bottom:0;
  left: 0;  
  right: 0;
  /*max-width: 80%;*/ 
  margin:auto;
 }

 .box_photo img {
  position: absolute;

 }

 .box_photo .controls {
  position: absolute;
    border-radius: 50%;
    padding: 0px 4px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 29px Arial, sans-serif;
    width: 26px;
    height: 34px;
    display: inline-block;
    text-decoration: none;
    top: 48%;
 }

 .box_photo .right {

  right: 10px;
 }

 .box_photo .left {

  left: 10px;
 }

  .box_photo .corner{

    top: 5px;
    right: 5px;
    width: 28px;
    height: 36px;
  }

 #photobox .descripton {
    display: block;
    background: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0.2;
    text-align: center;
 }
 #photobox .descripton:hover {
    opacity: 1;
 }

/*
.error-msg{
    display: none;
    position: absolute;
    background-color: white;
    border: black 2px solid;
}
*/
.row{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.field{
  display: inline-block;
  position: relative;
  width: 49%;
}

.form-style {
    margin:10px auto;
    max-width: 700px;
    padding: 0px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}

input,
textarea, 
select{
    box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    outline: none;
    min-width: 200px; 
    height: 35px; 
}

.form-style textarea{
  height: auto;
  width: 100%
}

.form-style input[type=submit]
{
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
}

.form-style input[type=checkbox], .form-style input[type=radio]{

  float:left;
  min-width: 0px;
  height: auto;
  margin-top: 2px;
}

.form-style input[type=submit]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    width: 100%;
}

.form-selected {
  background-color: #c0e2f8;
}

table tr td.edit{
  background: #4B99AD;
  text-align: center;
  font-weight: bold;
  color: white;
}

table tr td.edit a{
  color: white;
}

a.button{
  box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    outline: none;
    min-width: 200px; 
    height: 35px; 
  background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.button{
    box-sizing: border-box;
    border: 1px solid #BEBEBE;
    /* padding: 7px; */
    /* margin: 0px; */
    /* outline: none; */
    height: 40px;
    min-width: 150px;
    background: #4B99AD;
    margin-right: 10px;
    margin-top: 8px;
    /* padding: 8px 15px 8px 15px; */
    border: none;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    /* margin-bottom: 5px; */
    vertical-align: top;
}

.msgBox{
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}
.msgBox .msg{
      padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

.req:after{
  content: '*';
  color: red;
}

p
{ margin: 0px;
  padding: 0px;
  padding-bottom: 15px;
  line-height: 1.7em;
}

h1, h2, #htext_text span
{ font: normal 180% 'century gothic', arial, sans-serif;
  color: #EEF3CD;
  margin: 0 0 15px 0;
  text-align: center;
  padding: 8px 0 5px 0;}

h2
{ font: normal 170% 'century gothic', arial, sans-serif;
  color: #B60000;}

a, a:hover
{ 
  color: #635B53;
  text-decoration: none;}


a{ 
outline: none;}

#main, #header, footer{
  margin-left: auto; 
  margin-right: auto;}

#header{ 
  height: 46px;
  padding-top: 4px;
  padding-left: 4px;} 

#header span{
    text-align: center;
    display: block;
    padding-top: 5px;
    font-size: 2.0em;
    color: wheat;
}

#photos a {
    display: inline-block;
    text-decoration: none;
}

#photos .prev_out{
  display: inline-block;
  position: relative;
  height: 220px;
}

#photos .prev_name{
  position: absolute;
  background-color: rgba(0,0,0,.4);
  width: 90%;
  height: 90%;
  border-radius: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.questCirc {
    border-radius: 50%;
    padding: 0px 4px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 15px Arial, sans-serif;
    width: 10px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: 10000;
    margin-top: 5px;
    margin-left: 5px;
}

#obsah_outer{ 
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  border-radius: 25px;
  border: 15px solid #FFF;} 

#obsah{ 
  text-align: left;
  background-color:#EDEDED;
  padding: 10px 20px 20px 20px;
  }

.info{
  /*position: absolute;*/
}

.info-msg{
    position: absolute;
    display: none;
    border: 2px solid black;
    border-radius: 8px;
    z-index: 100;
    padding: 5px 10px;
    margin-top: 4px;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    font-weight: bold;

}

.preview img{
  max-height: 200px;
  margin: 5px;
  border-radius: 6px;
}

.questCirc:hover .info-msg {
    display: block;
}

.infotext .header
{
  display: block;
  width: 100%;
  border-bottom: 2px solid black;
  text-align: center;
  font: normal 170% 'century gothic', arial, sans-serif;
  padding: 5px 0 5px 0;
  color: #B60000;
}

.content table{
  margin-left: 10px;
}

footer{ 
  height: 30px;
  padding: 20px 0 5px 0;
  text-align: center; 
  color: #EEF3CD;
  letter-spacing: 0.1em;
}

table.tablesorter {
  font-size: 12px;
  background-color: #4D4D4D;
  width: 100%;
  border: 1px solid #000;
}
table.tablesorter th {
  text-align: left;
  padding: 5px;
  background-color: #6E6E6E;
  color: white;
  text-align: center;
}
table.tablesorter td {
  padding: 5px;
}
table.tablesorter th a {
  color: #00ff16;
}

table.tablesorter .header {
  background-image: url(bg.png);
  background-repeat: no-repeat;
  border-left: 1px solid #FFF;
  border-right: 1px solid #000;
  border-top: 1px solid #FFF;
  padding-left: 30px;
  padding-top: 8px;
  height: auto;
}
table.tablesorter .headerSortUp {
  background-image: url(asc.png);
  background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
  background-image: url(desc.png);
  background-repeat: no-repeat;
}


      .current-row{background-color:#B24926;color:#FFF;}
      .current-col{background-color:#1b1b1b;color:#FFF;}
      .tbl-qa{width: 100%;font-size:0.9em;background-color: #f5f5f5;}
      .tbl-qa th.table-header {padding: 5px;text-align: left;padding:10px;}
      .tbl-qa .table-row td {padding:10px;background-color: #FDFDFD;}


.allinrow{
  display: inline-block;
  width: 100%;
  max-width: 100%;
}
.allinrow .field{
  width: auto;
}
.allinrow input[type=submit]{
  width: auto;
  min-width: 0;
}

.text-center{
  text-align: center;
}

table tr td.place-1{

  background-color: #cfb428;
  color:black;
}

table tr td.place-2{

  background-color: silver;
  color:black;
}

table tr td.place-3{

  background-color: #cd7f32;
  color:black;
}
table td, table td a{
  color: white;
}
table td a:hover{
  color: black;
}
tr:hover td{
  background-color: #e6e6e6;
  color:#4D4D4D;
  font-weight: bold;
}

tr:hover td a{
  color:#4D4D4D;
}


/*
CREDITS: http://www.bootstrapzen.com/item/203/google-style-login-form/;
*/
.login-form {
  margin: 50px auto;
  max-width: 360px;
}

.login-form > section {
  text-align: center;
  margin-top: 15px;
}
  .login-form > section img {
    margin-bottom: 20px;
  }
  .login-form > section a {
    color: #657fed;
  }
  .login-form h4 {
    font-weight: normal;
    font-size: 20px;
    color: #737373;
    margin-bottom: 20px;
  }

form[role=login] {
  font: 15px/2.2em Lato, serif;
  color: #555;
  background: #f7f7f7;
  padding: 40px;
  
  -webkit-box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.2);
     -moz-box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.2);
          box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.2);
} 
  form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  form[role=login] input,
  form[role=login] button {
    font-size: 17px;
  }
  form[role=login] input {
    color: #989898;
    background: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    margin: 0;
    position: relative;
    z-index: 999;
  }
  form[role=login] input:focus {
    z-index: 1000;
  }
  form[role=login] input[type=email] {
    margin-bottom: -1px;
  }
    form[role=login] input::-webkit-input-placeholder {
      color: #c0c0c0;
    }
    form[role=login] input:-moz-placeholder {
      color: #c0c0c0;
    }
    form[role=login] input::-moz-placeholder {
      color: #c0c0c0;
    }
    form[role=login] input:-ms-input-placeholder {  
      color: #c0c0c0;
    }
  form[role=login] button {
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #4082ef;
    border: 1px solid #3b88c3;
    background: #52a6e6;
    margin-top: 15px;
    margin-bottom: 8px;
    -webkit-box-shadow: inset 0 1px 2px 0 rgba( 255, 255, 255, .3 );
       -moz-box-shadow: inset 0 1px 2px 0 rgba( 255, 255, 255, .3 );
            box-shadow: inset 0 1px 2px 0 rgba( 255, 255, 255, .3 );
  }
/*
CREDIT: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp;

*/

#logged {
  overflow: hidden;
  background-color: #333;
  z-index: 5000;
  max-width: 1200px;
  border-radius: 10px;
}

/* Navbar links */
#logged a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

#logged .logout{
  float: right;
  display: inline-block;

}



#logged .logout a{
  background-color: #720606;
  border-radius: 10px;
}
#logged .logout a:hover{
  background-color: #a80000;
}

#logged .logout p{
  margin-right: 10px;
  display: inline-block;
  color: white;
      line-height: initial;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


/*

https://www.w3schools.com/howto/howto_js_tabs.asp
*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*
https://codepen.io/mikulgohil/pen/Cfjeh
*/

.error-bar{
    background: #525252;
    padding: 5px 0;
    margin: 10px auto 10px auto;
  width:800px
}

.error-bar p{
    font-size: 12px;
    color: #fff;
    margin: 0;
    padding: 3px 0;
}

.error-bar span{
    background: #169A6C;
    margin: 0 10px 0 10px;
    display: block;
    float: left;
    position: relative;
    top: -15px;
    text-align: center;
    padding: 6px 5px 2px 5px;
}

.error-bar span:after{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 5px solid #169A6C;
    position: absolute;
    bottom: 50%;
    margin-left: -5px;
    top: 100%;
    z-index: 2;
}

.error-bar span:before {
    right: 1px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #169A6C;
    border-left-color: #169A6C;
    border-width: 3px;
    top: 1px;
    margin-right: -7px;
}


.error-bar span i{
    background-position:-280px -165px;
    width: 16px;
    height: 16px;  
  display: block;
font-size: 17px;
font-style: normal;
}

.error-bar.error span{
    background: #d84315;
}
.error-bar.error span:after{
    border-top: 5px solid #d84315;
}
.error-bar.error span:before {
    border-bottom-color: #d84315;
    border-left-color: #d84315;
}

.colorPicker {
  width: 100%;
  text-align: center;
}
.colorPicker div{
  margin: 0 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  border-style: dashed;
}

canvas{
    border-width: 1px;
  border-color: black;
  border-radius: 10px;
  border-style: dashed;
}
.green {
  background-color: green;
}
.blue{
  background-color: blue;
}
.red {
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
